body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

header {
    background: #ecb1b1;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}
